@{
    ViewData["Title"] = "Home Page";
}

</div>
<div class="d-flex justify-content-center text-center align-items-center" style="height: 80vh;">
    <div class="hero-text">
        <h1 class="display-1 font-weight-bold text-primary mb-4">Welcome to True Nature</h1>

        <p class="lead">Your one-stop destination for everything about plants and nature.</p>
    </div>
</div>